.banner-logistica {
    background-image: url("../../assets/fabrica-textil.avif");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}